	

/* Slideshow container */
.slideshow-container {
	padding-top: 100px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
	   .hinh1{
	   width:50%;
	   float:left;
	   background-color:white;
	   }
	   .a{float:left;
	     width:45%;
		
	   }
	   .b{float:right;
	     width:55%;
		 color:black;
		 
		 
	   }
	   .hinh2{
	   width:50%;
	   float:right;
	   background-color:while;
	   } 
      .anhto1{
	   float:left;
	   overflow:hidden;
	   height:428px;
	   }
	  
	  .anhto2{
	  float:right;
	  background-color:rgba(158, 158, 158, 0.08);
	  height:409px;
	 } 
	 .dichvu1{
	 float:left;
	 width:50%
	}
	.hinhdv1{
	margin-left:40px;
	}
	.hadv{
	width:25%;
	}
	.ttdv{
	width:75%;
	}
	.dichvu2{
	float:right;
	width:50%;
	} 
    .Group3{
	width:100%;
	}	
    .Group3 ul li{
	float:left;
	list-style:none;
	overflow:hidden;
	}
    .Group4 ul li {
    	list-style: none;
    }

    .Group5 ul li {
    	list-style: none;
    }